
.ui.borderless.topmenu.menu {
  background-color: #f5f5f5;
  box-shadow: none;
  border: none;
}

.ui.borderless.bottomlinks {
  box-shadow: none;
  border: none;
  font-size: 25px;
  margin-left: 44%
}

.ui.borderless.middlemenu.menu {
  box-shadow: none;
  border: none;
}

.footer-background {
  background-color: #292929;
  height: 200px;
  color: white;
}

.ui.footer {

  margin-top: 1%;
  margin-bottom: 1%;

}

.ui.footer a {

  color: black;

}

.ui.footer p {
  margin-top: 5px;
  margin-bottom: 5px;

}

